In [22]:
import pandas as pd
import numpy as np

In [23]:
dataset = pd.read_csv("../datasets/Fish.csv")

In [24]:
def sigmoid(x):
    return 1/1+np.exp(-x)

In [25]:
def CostFunction(X,y,theta,l):
    
    m = X.shape[0]
    a1 = X 
    a1 = np.insert(a1,0,1,1)

    print(a1.shape,theta[0].shape)
    z2 = theta[0].dot(a1)
    a2 = sigmoid(z2)
    a2 = np.insert(a2,0,1,1)
    
    z3 = theta[1].dot(a2)
    a3 = sigmoid(z3)
    hx = a3
    
    d3 = a3 - np.tile(y, (7,1)).transpose()    
    d2 = d3.dot(theta[1]) * a2 * (1-a2)
    
    d = np.array([d2,d3])
    a = np.array([a1,a2])
    
    
    delta = np.zeros((2,7,7))
    delta[0:0] = d2.transpose().dot(a1)
    delta[1:1] = d3.transpose().dot(a2)
    
    D = delta/m
    D += np.multiply(theta[:][1:][:],theta[:][1:][:])[0]
    
    grad = D
    
    return grad

In [26]:
dataset.groupby("Species").describe()

          Weight                                                         \
           count        mean         std    min     25%     50%     75%
Species
Bream       35.0  617.828571  209.205709  242.0  462.50  610.00  717.00
Parkki      11.0  154.818182   78.755086   55.0  105.00  145.00  185.00
Perch       56.0  382.239286  347.617717    5.9  120.00  207.50  692.50
Pike        17.0  718.705882  494.140765  200.0  345.00  510.00  950.00
Roach       20.0  152.050000   88.828916    0.0  104.25  147.50  171.75
Smelt       14.0   11.178571    4.131526    6.7    8.95    9.85   12.20
Whitefish    6.0  531.000000  309.602972  270.0  279.00  423.00  735.00

                  Length1             ...     Height          Width            \
              max   count       mean  ...        75%      max count      mean
Species                               ...
Bream      1000.0    35.0  30.305714  ...  16.360900  18.9570  35.0  5.427614
Parkki      300.0    11.0  18.727273  ...  10.041100  11.3680  11.0  3.220736
Perch      1100.0    56.0  25.735714  ...  10.846500  12.8002  56.0  4.745723
Pike       1650.0    17.0  42.476471  ...   8.926200  10.8120  17.0  5.086382
Roach       390.0    20.0  20.645000  ...   7.164150   9.4850  20.0  3.657850
Smelt        19.9    14.0  11.257143  ...   2.261225   2.9322  14.0  1.340093
Whitefish  1000.0     6.0  28.800000  ...  11.506900  12.3540   6.0  5.473050


                std     min       25%     50%       75%     max
Species
Bream      0.721509  4.0200  4.943400  5.2801  6.071600  6.7497
Parkki     0.643347  2.3142  2.795550  3.2928  3.537000  4.2340
Perch      1.774626  1.4080  3.525000  4.1549  6.448125  8.1420
Pike       1.140269  3.3756  4.322500  4.8700  6.144000  7.4800
Roach      0.690371  2.2680  3.317325  3.6027  3.852900  5.3550
Smelt      0.286611  1.0476  1.161475  1.2731  1.356300  2.0672
Whitefish  1.194258  4.2476  4.356775  5.6033  6.552750  6.5736

[7 rows x 48 columns]

In [27]:
# Change every species by it's equivalent vector
names = dataset["Species"].drop_duplicates()

lr = 0.003
for i in dataset.index:
    tmp_name = dataset.at[i,"Species"]
    dic = {name : 0 for name in names}
    dic[tmp_name] = 1
    dataset.at[i,"Species"] = names.replace(dic).values.transpose()

In [28]:
dataset.describe()

            Weight     Length1     Length2     Length3      Height       Width
count   159.000000  159.000000  159.000000  159.000000  159.000000  159.000000
mean    398.326415   26.247170   28.415723   31.227044    8.970994    4.417486
std     357.978317    9.996441   10.716328   11.610246    4.286208    1.685804
min       0.000000    7.500000    8.400000    8.800000    1.728400    1.047600
25%     120.000000   19.050000   21.000000   23.150000    5.944800    3.385650
50%     273.000000   25.200000   27.300000   29.400000    7.786000    4.248500
75%     650.000000   32.700000   35.500000   39.650000   12.365900    5.584500
max    1650.000000   59.000000   63.400000   68.000000   18.957000    8.142000

In [29]:
dataset

                   Species  Weight  Length1  Length2  Length3   Height   Width
0    [1, 0, 0, 0, 0, 0, 0]   242.0     23.2     25.4     30.0  11.5200  4.0200
1    [1, 0, 0, 0, 0, 0, 0]   290.0     24.0     26.3     31.2  12.4800  4.3056
2    [1, 0, 0, 0, 0, 0, 0]   340.0     23.9     26.5     31.1  12.3778  4.6961
3    [1, 0, 0, 0, 0, 0, 0]   363.0     26.3     29.0     33.5  12.7300  4.4555
4    [1, 0, 0, 0, 0, 0, 0]   430.0     26.5     29.0     34.0  12.4440  5.1340
..                     ...     ...      ...      ...      ...      ...     ...
154  [0, 0, 0, 0, 0, 0, 1]    12.2     11.5     12.2     13.4   2.0904  1.3936
155  [0, 0, 0, 0, 0, 0, 1]    13.4     11.7     12.4     13.5   2.4300  1.2690
156  [0, 0, 0, 0, 0, 0, 1]    12.2     12.1     13.0     13.8   2.2770  1.2558
157  [0, 0, 0, 0, 0, 0, 1]    19.7     13.2     14.3     15.2   2.8728  2.0672
158  [0, 0, 0, 0, 0, 0, 1]    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [30]:
X = dataset.drop(["Species"],axis=1).values
y = dataset["Species"].values
l = 0.003

nn_in = X.shape[1] 
nn_hidden = nn_in
nn_out = y[0].size

print(nn_in,nn_hidden,nn_out)

theta1 = np.random.rand(nn_hidden,nn_in+1)
theta2 = np.random.rand(nn_out,nn_hidden+1)

print(theta1.shape,theta2.shape)

theta = [theta1,theta2]

6 6 7
(6, 7) (7, 7)

In [31]:
CostFunction(X,y,theta,l)

(159, 7) (6, 7)

array([[[0.41141783, 0.65969158, 0.07930632, 0.6884853 , 0.02335878,
         0.50672093, 0.13788342],
        [0.52825285, 0.63522837, 0.07755319, 0.29081325, 0.06842818,
         0.32386494, 0.02847034],
        [0.35619622, 0.94097437, 0.90655883, 0.11060936, 0.02252531,
         0.42945174, 0.32889598],
        [0.6814672 , 0.00411041, 0.17824975, 0.22707963, 0.64786491,
         0.33764343, 0.83637324],
        [0.12986592, 0.02079464, 0.98966109, 0.15431685, 0.27165121,
         0.65264938, 0.19720701],
        [0.12043057, 0.27316034, 0.13282532, 0.01541704, 0.07566235,
         0.79582543, 0.66591999],
        [0.01940558, 0.01930665, 0.41662715, 0.10776551, 0.08396835,
         0.04332305, 0.01712203]],

       [[0.41141783, 0.65969158, 0.07930632, 0.6884853 , 0.02335878,
         0.50672093, 0.13788342],
        [0.52825285, 0.63522837, 0.07755319, 0.29081325, 0.06842818,
         0.32386494, 0.02847034],
        [0.35619622, 0.94097437, 0.90655883, 0.11060936, 0.02252531,
         0.42945174, 0.32889598],
        [0.6814672 , 0.00411041, 0.17824975, 0.22707963, 0.64786491,
         0.33764343, 0.83637324],
        [0.12986592, 0.02079464, 0.98966109, 0.15431685, 0.27165121,
         0.65264938, 0.19720701],
        [0.12043057, 0.27316034, 0.13282532, 0.01541704, 0.07566235,
         0.79582543, 0.66591999],
        [0.01940558, 0.01930665, 0.41662715, 0.10776551, 0.08396835,
         0.04332305, 0.01712203]]])